

/******************/
/* Navigation Bar */
/******************/

nav ul 
{
    background-color:  #739900; 
    list-style-type: none;
   
    padding: 0;
    overflow: hidden;   
    height: 70px;

    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;
}

li.menu 
{
    float: right;
}

li.leftcol
{
    float:left;
    text-decoration: none;
    color: papayawhip;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;       
}

a.leftcol
{
    background-color: #739900;
    padding: 0px;
}

li a.leftcol:hover{
    background-color: #739900;
}

li a 
{
    padding: 14px 16px;
    text-decoration: none;
}

li.menu a:hover 
{
    background-color: #1a0f00;
}

nav a.menu
{
    display: block;  
    padding: 25px;
    background-color: #331f00;  
    color: papayawhip;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: larger;
    text-decoration: none;
}

nav img 
{
    height: 72px;
}

nav h1 
{
    margin: 19px;
    color: papayawhip;
}

/********************************************/
/*            Body of the page              */
/********************************************/

body 
{
    background-color: #f6f3ee;  
}

div.home_page_slogan
{
    margin-left: -10px;
    margin-top: -16px;
    margin-right: -10px;
    margin-bottom: 0px;
}

img.home_page_slogan
{
    width: 100%;
}   

input.top_of_the_mainpage
{   
    width: 70%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;

    margin-left: 15%;
}

form
{
    margin-top: -5px;
    margin-bottom: 48px;
    background-color: #fcfafb;
    height: 150px;
}

/**********************************/

.homepage_text
{
    background-color: #f6f3ee;
    margin-left: -10px;
    margin-right: -10px;
}

p.text_homepage
{
    margin: 15px 15% 100px 15%;
}

h3
{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: xx-large;
    color: #423b2f;
    letter-spacing: 0.2em;
    margin-top: 80px;
    margin-bottom: 50px;
}

p
{
    width: 70%;
    text-align: justify;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: larger;
    color: #423b2f;   

    word-spacing: 0.4em;
    letter-spacing: 0.03em;
    line-height: 1.5em; 
}

@media only screen and (max-width: 500px)
{
    .homepage_text h3
    {
        margin-top: 0px;        
    }

    p.text_homepage
    {
        margin-left: 5%;
        width: 90%;
    }
}

/****************************************/

.recent_publications
{
    background-color: #fcfafb;
    margin-left: -10px;
    margin-right: -10px;
}


.article-picture img
{
    width: 400px;
    height: 300px;
    margin-left: -55%;
}

li.recent_publications
{
    width: 5%;
    float: left;
    margin-left: 360px;
}

ul.recent_publications
{
    display: inline;   
    list-style-type: none; 
}

.article-name
{
    width: 250px;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 20px;
}

.article-name a
{    
    font-family: sans-serif;
    font-size: x-large;
    color: darkslategray;
}

@media only screen and (max-width: 500px)
{
    li.recent_publications
    {
        width: 130%;
    }

    .article-name
    {
        margin-left: -43%;
    }
}

/**************************************/
/*          Newsletter                */
/**************************************/

.newsletter
{
    background-color: #f6f3ee;
    margin-bottom: -22px;
}

h3.newsletter
{
    height: 100px;
}

input.subscribe
{
    width: 70%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 22px;
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    border-radius: 14px;
    margin-left: 15%;
}

button
{
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    width: 70%;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #331f00;

    margin-left: 15%;
    margin-bottom: 8%;
}

button:hover {background-color: #3e8e41}

button:active 
{
  background-color: #3e8e41;
  box-shadow: 0 5px #331f00;
  transform: translateY(4px);
}

@media only screen and (max-width: 500px)
{
    button
    {
        width: 96%;
        margin-left: 2%;
        margin-bottom: 130px;
    }

    form.newsletter
    {
        margin-top: 7%;
        margin-bottom: -12%;
    }

    h3.newsletter
    {
        height: 120px;
    }

    input.subscribe
    {
        width: 96%;  
        margin-left: 2%;
        padding: 12px 20px 25px 40px;
    }
}

/*********************************************/
/*          Footer                           */
/*********************************************/

.footer
{
    background-color: #331f00;
    text-align: center;
    color: papayawhip;
    height: 160px;
}

.footer img
{
    width: 15%;
    margin-top: 10px;
}

.footer a 
{
    color: papayawhip;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: smaller;
}

.footer h5
{
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: smaller;
}

@media only screen and (max-width: 500px)
{
    .footer img
    {
        width: 50%;
    }
}


/*********************************************/
/*         About Us Page                     */
/*********************************************/

.about
{
    text-align: center;
}

p.about
{
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 100px;
    text-align: justify;
}

img.about 
{
    margin-bottom: 40px;
    width: 60%;
    height: 50%;
}

@media only screen and (max-width: 500px)
{
    img.about
    {
        margin: 0px 5% 20px 5%;
        width: 90%;
        height: 90%;
    }

    p.about
    {
        margin: 10px 5% 100px 5%;  
        width: 90%;
        text-align: justify;
    }
}

/*********************************************/
/*          Article Page                    */
/********************************************/

.article
{
    text-align: center;
}

p.article
{
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 100px;
    text-align: justify;
}

iframe.article
{
    margin-top: -40px;
    margin-bottom: 150px;
}

@media only screen and (max-width: 500px )
{
    h3.article
        {
            margin: 40px 15px 20px 15px;
        }

    p.article
        {       
            margin: 10px 5% 20px 5%;  
            width: 90%;
            text-align: justify;
        }

    iframe.article
        {
            width: 90%;
            height: 100%;
            margin: 0px 5% 50px 5%;
        }
}

/*********************************************/
/*          Blog Page                        */
/*********************************************/


.blog .column-left
{
    width:30%;
    float:left;
}

.blog .column-left img
{
    width: 50%;
    margin-left: 45%;
}

.blog .column-right
{
    float:left;
    width: 70%;
}

.clearfix
{
    clear:both;
}

.blog ol li{
    clear:both;
    margin-top:20px;
    margin-bottom: 50px;
    list-style-type: none;
}

.blog ol li:hover
{
    background-color: #ede7de;
}

.blog ol.blog
{
    margin-top: 50px;
    margin-bottom: 200px;
}

.blog a
{
    color: darkslategrey;
    font-size: x-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: normal;

    margin-left: 4%;
    margin-right: 15%;
}

.blog p
{
    margin-left: 4%;
    margin-right: 15%;
    width: 70%;
}

.blog h3
{
    height: 80px;
}

@media only screen and (max-width: 500px)
{
    .blog .column-left img 
    {
        width: 320px;
        margin-left: -12%;
    }

    .blog .column-right
    {
        width: 150%;
        margin-left: -14%;
    }

    p.blog_description
    {
        font-size: smaller;
    }

    a.blog
    {
        font-size: larger;
        margin-left: 0%;
    }

    .blog ol li:hover
    {
        background-color: #f6f3ee;
    }
}

/*******************************************/
/*              Contact page               */
/*******************************************/

input.contact
{
    width: 70%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 16px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;

    margin-left: 15%;
}

.typein-text
{
    width: 70%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 25px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 300px 40px;

    margin-left: 15%;
    margin-bottom: 50px;
}

@media only screen and (max-width: 500px)
{
    input.contact
    {
        width: 96%;  
        margin-left: 2%;
    }

    .typein-text
    {
        width: 96%;  
        margin-left: 2%;
        margin-bottom: 15px;
    }
}