body {
    background-color: #f6f3ee;
}

nav ul {
    background-color:  #739900; 
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;   
    height: 70px;
}

li {
    float: right;
}

li.leftcol
{
    float:left;
    text-decoration: none;
    color: papayawhip;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;       
}

a.leftcol{
    background-color: #739900;
    padding: 0px;
}

li a.leftcol:hover{
    background-color: #739900;
}

li a {
    padding: 14px 16px;

}

li a:hover {
    background-color: #1a0f00;
}

nav a {
    display: block;  
    padding: 25px;
    background-color: #331f00;  
    color: papayawhip;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: larger;
    text-decoration: none;
}

nav img {
    height: 72px;
}

nav h1 {
    margin: 19px;
}

