body {
    background-color: lightgrey;
}

nav ul {
    background-color: #2D2E2E; 
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;   
    height: 70px;
}

li {
    float: right;

}

li a {
    padding: 14px 16px;

}

li a:hover {
    background-color: #252626;
}

nav a {
    display: block;  
    padding: 25px;
    background-color: #2D2E2E;  
    color: papayawhip;
    text-align: center;
    font-family: cursive;
    font-size: larger;
    text-decoration: none;
}